body {
  background-color: #4b7399;
  font-size: 14px; }

@font-face {
  font-family: "Cantarell";
  src: url("../fonts/Cantarell/Cantarell-regular.ttf"); }

a {
  color: blue; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#header {
  float: left;
  width: 20%; }
  #header p {
    margin: 0;
    padding: 0; }

#user_login_box {
  float: right;
  width: 70%;
  text-align: right; }

#container {
  width: 75%;
  margin: 0 auto;
  background-color: white;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px; }

#flash_notice, #flash_alert, #flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66; }

#flash_error {
  background-color: #ff6b62;
  border: solid 1px #ff0e00;
  color: white; }

#flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0;
    background-color: #cc0000;
    color: white; }
  #errorExplanation p {
    color: #333333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

table td {
  border: 1px solid black; }
table.loot_machine_console {
  text-align: center; }

td.need {
  background: #0fff52; }
td.greed {
  background: #92e2a9; }
