@import compass/css3

@include font-face("Aller",   font-files("Aller/Aller_Rg.ttf",        truetype))
@include font-face("Museo",   font-files("Museo/MuseoSans_500.otf",   opentype), font-files("Museo/MuseoSans_500_Italic.otf", opentype))

$default-text-shadow-color: #AAA

body
  background: url(../../images/bg00.jpg) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  font-family: 'Museo'
  font-size: 14px
  color: #E9E9E9

h1, h2, h3, h4, h5,h6
  @include text-shadow
  margin: 30px 0 10px 0
  font-family: 'Aller'

  &.first
    margin-top: 0

a
  text-decoration: none
  img
    border: none

hr
  border: 1px solid #666666
  height: 1px

.clear
  clear: both
  height: 0
  overflow: hidden

.reset
  border: none
  padding: 0
  margin: 0
  background: transparent

#container
  width: 75%
  margin: 20px auto 0 auto
  +opacity(0.88)

  #top
    padding: 20px 25px
    +border-top-radius(10px)
    +box-shadow(black, 2px, 2px, 10px)
    background: black
    color: white

    a
      color: #F92717

      &:hover
        color: white

    #header
      margin: 0
      padding: 0 0 15px 0

      .admin
        color: #666
      .delimiter
        color: #333

      #links
        float: left
        width: auto

        p
          margin: 0
          padding: 0

        .home
          float: left

          a
            font-size: 24px
            font-family: 'Museo'
            //font-style: 'italic'

      #user_login_box
        float: right
        width: auto
        text-align: right

    #page_infos
      clear: both

  #content
    padding: 20px 25px
    background: white
    +border-bottom-radius(10px)
    +box-shadow(black, 2px, 2px, 10px)
    color: black

    a
      color: #F92717

      &:hover
        background: #F2F2F2
        color: black

      .plusOne
        float: none

        &:hover
          background: none
          color: blue

    .attribute
      font-weight: bold

    .button
      float: right
      clear: both
      +border-radius(10px)
      //+box-shadow(black, 2px, 2px, 10px)
      background: black
      width: 200px
      margin: 0 0 10px 0
      padding: 5px 10px

      &:hover
        background: #F92717

      a
        display: block
        color: white

        &:hover
          background: none

    #footer
      padding: 10px 0 0 0
      +opacity(0.25)
      clear: both
      color: #666
      font-size: 10px
      text-align: center

      a
        color: #666

        &:hover
          background: none
          color: red

#flash_notice, #flash_alert, #flash_error
  padding: 5px 15px
  margin: 0
  float: left

#flash_notice
  color: #00FF23

#flash_error
  color: #FF1300

#flash_alert
  color: #FFEF00

.fieldWithErrors
  display: inline

#errorExplanation
  width: 400px
  border: 2px solid #CF0000
  padding: 0px
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0
  h2
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 15px
    font-size: 12px
    margin: 0
    background-color: #c00
    color: #fff
  p
    color: #333
    margin-bottom: 0
    padding: 8px
  ul
    margin: 2px 24px
    li
      font-size: 12px
      list-style: disc

table
  margin: 0
  padding: 0
  border: none
  border-collapse: collapse
  border-spacing: 0
  vertical-align: baseline

  tr
    &.loot_status_line
      text-align: center

  th
    padding: 5px
    font-family: 'Aller'
    background: #EEEEEE

    &.sorting, &.sorting_asc, &.sorting_desc
      cursor: pointer
    &.editable
      background: #E9E9E9

  td
    padding: 2px
    border-bottom: 1px solid #DDD

    &.score
      color: #F92717

  td, th
    &.editable
      background: #E9E9E9
      cursor: help
    &.character
      font-weight: bold
    &.score
      font-weight: bold
    &.need
      background: #0FFF52
      font-weight: bold
    &.greed
      background: #92E2A9
      font-weight: bold
    &.loyalty
      background: #FFB0EB
      font-weight: bold

  &.loot_machine_console
    text-align: center

label
  display: block

p.input
  label
    &:first-child
      font-weight: bold
      padding-bottom: 5px

.roles_for
  display: none

.dataTables_filter
  margin: 15px 0

  input
    border: 1px solid #DDD
    background: #C9CADF
    font-weight: bold
    padding: 3px 2px

    &:hover
      background: #446EFF
      color: #FFF

  #closeConsoleFilter
    img
      width: 24px
      vertical-align: -7px
      padding: 0 0 0 5px

      &:hover
        cursor: pointer

