= simple_form_for character do |f|
  = f.input :nickname,
      :label       => t('characters.attributes.nickname')

  = f.input :level,
      :label       => t('characters.attributes.level')
  
  = f.submit t('.submit')
