%td.editable{ :data => { :type => 'need', :url_for_event => url_for_event(:change)  } }= @loot_status.need
%td.editable{ :data => { :type => 'greed', :url_for_event => url_for_event(:change)  } }= @loot_status.greed
%td.editable{ :data => { :type => 'loyalty', :url_for_event => url_for_event(:change)  } }= @loot_status.loyalty
%td.score= @loot_status.score.to_i
%td{ :class => ['status', @loot_status.status] }= t("loot_statuses.statuses.#{@loot_status.status}")
